<!DOCTYPE html>
<html>
<head>
  <title>CritterWatch</title>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

  <link rel="icon" href="/images/honeybee.jpg" />


  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <link rel="stylesheet" type="text/css" href="/styles/button.css">

</head>
<body>
  <main class="flex flex--row">
    <nav>
      <ul>
        <li>
          <div class="form-style">
          <form action="/">
            <label><input type="submit" value="Home"/></label>
          </form>
        </div>
        </li>
        <li>
          <div class="form-style">
          <form action="/animal">
            <label><input type="submit" value="Animals"/></label>
          </form>
        </div>
        </li>
        <li>
          <div class="form-style">
          <form action="/user">
            <label><input type="submit" value="Contributors"/></label>
          </form>
        </div>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
