<!DOCTYPE html>
<html>
<head>
  <title>Critter Watch</title>
</head>
<body>
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/animal">Animals</a>
      </li>
      <li>
        <a href="/habitat">Habitats</a>
      </li>
      <li>
        <a href="/user-details">Users</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
