<div class="form-style">
<div class="form-style-heading">Edit Contributor Details</div>
<form method="post" action="/user/<%= @user.id %>">
  <label for="name-field"></label><span>Name<span class="required">*</span></span><input type="text" class="input-field" name="name" id="name-field" value="<%= @user.name %>" /></label>

  <label for=age-field"></label><span>Age<span class="required">*</span></span><input type="text" class="input-field" name="age" id="age-field" value="<%= @user.age %>" /></label>

  <label><span></span><input type='submit' value="Update"/></label>
</form>
</div>
