<h1> Contributors </h1>

<p><a href="/user/new">Add New Contributor</a></p>

<% @users.each do |user| %>
  <p>Name: <%= user.name() %></p>
  <p><a href="/user/<%= user.id %>">Expand User Info</a></p>
  <hr />
<% end %>
