<h1>Contributors</h1>
<div class="form-style">
<form action="/user/new">
  <label><input type="submit" value="Submit New Contributor"/></label>
</form>
</div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Age</th>
  </tr>
<% @users.each do |user| %>
<tr>
  <td><a href="/user/<%= user.id%>"><%= user.name() %></a></td>
  <td>|</td>
  <td><%= user.age%></td>
  <tr/>
<% end %>
</table>
