<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/user-details">All Users</a>
    </li>
    <li>
      <a href="/user-details/new">Add a new User</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
