<h2>Add new Contributor</h2>

<form method="post" action="/user/new">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="age-field">Age:</label>
  <input
  type="number"
  name="age"
  id="age-field"
  />

  <input type="submit" value="Add Contributor Information">
</form>
