<form method="post" action="/user-details">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="ame"
  id="name-field"
  />

  <label for="age-field">Age:</label>
  <input
  type="number"
  name="age"
  id="age-field"
  />

  <input type="submit" value="Add User Information">
</form>
