.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: pink;
  cursor:pointer;
  font-family: 'Architects Daughter', cursive;
}

.btn--danger {
  background-color: pink;
}

.btn--danger:hover {
  background-color: #73AA00;
}

.btn--action:hover {
  background-color: #495CAA;
}

.btn--action {
  background-color: purple;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
