input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Architects Daughter', serif;
}

select {

  width: 100px;
  height: 28px;
  padding: 2px 2px 2px 15px;
  margin: 15px 0;
  font-size: 0.9em;
  text-align: center;
  -webkit-appearance: none;
  background: lightgrey;
  font-family: 'Architects Daughter', cursive;
  border: 2px solid darkgreen;
  display: block;
}

:focus {
  outline-color: darkgreen;
  outline-style: none;
}

.form-el {
  margin: 5px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
