<style type="text/css">
.form-style{
	max-width: 600px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, 'Architects Daughter', sans-serif;
}
.form-style-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style span.required{
	color:red;
}
.form-style input.input-field, .form-style .select-field{
	width: 48%;
}
.form-style input.input-field,
 .form-style .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px;
	outline: none;
}
.form-style .input-field:focus,
.form-style .select-field:focus{
	border: 1px solid #0C0;
}
.form-style input[type=submit],
.form-style input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #08D08F;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{
	background: #89ED97;
	color: #fff;
}
</style>
