body {
  background: darkgreen url('/images/mammal_background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  opacity: 0.75;
  font-family: 'Architects Daughter', serif;
  padding: 0px;
  margin: 0pxa
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Architects Daughter', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: white;
  margin-bottom: 20px;
  padding-right: 300px;
}

a, a:link, a:visited {
  color: limegreen;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: white;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-left: 25px;

}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row-reverse;
}

#content {
  border-right: 1px solid white;
  padding-right: 25px;

}
