<h1>Animal Observations</h1>

<div class="form-style">
<form action="/animal/new">
  <label><input type="submit" value="Submit New Animal"/></label>
</form>
</div>

<table>
  <tr>
    <th>Species</th>
    <th></th>
    <th>Contributor</th>
  </tr>
<% @animal.each do |animal| %>
<tr>
  <td><a href="/animal/<%= animal.id%>"><%= animal.species() %></a></td>
  <td>|</td>
  <td><%= animal.user.name%></td>
  <tr/>
<% end %>
</table>
