<h1>Animal Observations</h1>

<p><a href="/animal/new">Submit New Animal</a></p>

<% @animal.each do |animal| %>
  <p>Species: <%= animal.species() %></p>
  <p>Contributor: <%=animal.user.name %></p>
  <p><a href="/animal/<%= animal.id %>">Observation Details</a></p>
  <hr />
<% end %>
