<h1>Animal Observations</h1>

<p><a href="/animal/new">Submit New Animal</a></p>

<table>
  <tr>
    <th>Species</th>
    <th></th>
    <th>Contributor</th>
  </tr>
<% @animal.each do |animal| %>
<tr>
  <td><a href="/animal/<%= animal.id%>"><%= animal.species() %></a></td>
  <td>|</td>
  <td><%= animal.user.name%></td>
  <tr/>
<% end %>
</table>
