<!DOCTYPE html>
<html>
<head>
  <title>Animals</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/animal">All Animals</a>
    </li>
    <li>
      <a href="/animal/new">Create New Observation</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
