<!DOCTYPE html>
<html>
<head>
  <title>Animals</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<nav id="menu">
    <li>
      <a href="/animal/index">All Animals</a>
      <a href="/animal/new">Submit New Animal</a>
    </li>
</nav>
<h1> id="logo">CritterWatch</h1>
  <%= yield %>

</body>
</html>
