<form method="post" action="/animal">
  <label for="species-field">Species:</label>
  <input
  type="text"
  name="species"
  id="species-field"
  />

  <label for="animal-type-selection">Select the animal type:</label>
  <select name="animal_type" id="animal-type-selection">
    <option value="Bird">Bird</option>
    <option value="Mammal">Mammal</option>
    <option value="Amphibian">Amphibian</option>
    <option value="Fish">Fish</option>
    <option value="Beastie">Beastie</option>
    <option value="Reptile">Reptile</option>
  </select>

  <label for="quantity-field">Number of animals observed:</label>
  <input
  type="number"
  name="quantity_observed"
  id="quantity-field"
  />

  <input type="submit" value="Record Observation">
</form>
