<!DOCTYPE html>
<html>
<head>
  <title>Habitat</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/habitat">All Habitatation</a>
    </li>
    <li>
      <a href="/habitat/new">Record New Habitat</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
