<form method="post" action="/habitat">

  <label for="location-selection">Select the location:</label>
  <select name="location" id="location-selection">
    <option value="Garden">Garden</option>
    <option value="Countryside">Countryside</option>
    <option value="Park">Park</option>
    <option value="Riverside">Riverside</option>
    <option value="Forest">Forest</option>
    <option value="Seaside">Seaside</option>
    <option value="Loch">Loch</option>
    <option value="Pond">Pond</option>
    <option value="Moors">Moors</option>
    <option value="Mountains">Mountains</option>
  </select>

  <label for="season-selection">Select the season:</label>
  <select name="season" id="season-selection">
    <option value="Spring">Spring</option>
    <option value="Summer">Summer</option>
    <option value="Autumn">Autumn</option>
    <option value="Winter">Winter</option>
  </select>

  <label for="time-selection">Select the time you seen the animal:</label>
  <select name="time_of_day" id="time-selection">
    <option value="Dawn">Spring</option>
    <option value="Morning">Morning</option>
    <option value="Afternoon">Afternoon</option>
    <option value="Evening">Evening</option>
    <option value="Dusk">Dusk</option>
    <option value="Night">Night</option>
  </select>

  <input type="submit" value="Submit Habitat Information">
</form>
